
.contactus-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    background-color: #ffffff;

}

.contactus-form {


    font-size: 15px;
}

.sucess-message {
    color : green,
}